/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: blue;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: red;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body .container .header-section {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
body .container .site-logo {
  padding-top: 20px;
  float: left;
}
body .container .main-menu ul {
  list-style-type: none;
  float: right;
}
body .container .main-menu ul li {
  display: inline;
}
body .container .main-menu ul li a {
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  padding: 20px 0 5px;
  text-decoration: none;
  color: black;
}
body .footer-section {
  padding: 110px 0;
  text-align: center;
}
body ul.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
body .footer-section .copyright {
  color: black;
  text-align: center;
}
body {
  /*.border-smaller:active {
        box-shadow: none;
      } */
}
body .intro-section {
  padding: 110px 0;
  font-size: 14px;
  background: #ECF5B7;
  font-family: sans-serif;
  text-align: center;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
body .border {
  border: 6px solid #9CB418;
  -webkit-box-shadow: 4px 4px 0 3px #7D9014;
  -moz-box-shadow: 4px 4px 0 3px #7D9014;
  box-shadow: 4px 4px 0 3px #7D9014;
}
body .border-smaller {
  border: 4px solid #9CB418;
  -webkit-box-shadow: 3px 3px 0 2px #7D9014;
  -moz-box-shadow: 3px 3px 0 2px #7D9014;
  box-shadow: 3px 3px 0 2px #7D9014;
}
body .transparent {
  zoom: 1;
  filter: alpha(opacity=40);
  opacity: 0.4;
}
body .container {
  margin-top: -40px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #7D9014;
}
body header {
  margin-bottom: 20px;
  font-size: 22px;
  text-transform: uppercase;
}
body .quote-box {
  border-radius: 1px;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 0 20px 30px 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
}
body .quote-area {
  min-height: 250px;
  position: relative;
}
body #quote {
  padding: 40px 20px;
  font-size: 28px;
  font-weight: 600;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
body .buttons-area {
  float: left;
}
body .btn {
  float: left;
  background-color: #ECF5B7;
  border-radius: 1px;
  font-size: 20px;
  margin-right: 8px;
}
body .btn:first-of-type {
  margin-right: 24px;
}
body #random-quote {
  padding: 12px 24px;
}
body #tweet-quote {
  padding: 6px 16px;
  font-size: 30px;
}
body .author-area p::before {
  content: "- ";
}
body .author-area {
  float: right;
}
body #author {
  font-size: 18px;
  padding: 16px 8px 16px 0px;
  font-style: italic;
}
body footer {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bolder;
}
body footer p a {
  font-weight: 800;
  font-size: 20px;
}
@media (max-width: 800px) {
  body .container {
    position: relative;
    margin-top: 0;
    padding-top: 30px;
    height: 1vh;
  }
  body .quote-box {
    width: 92%;
  }
  body .quote-area {
    min-height: 330px;
  }
  body #quote {
    padding: 30px 20px 0 20px;
    width: 100%;
  }
  body .author-area {
    float: none;
    display: block;
  }
  body .btn {
    vertical-align: middle;
    float: none;
    display: inline-block;
    margin-top: 20px;
  }
  body .buttons-area {
    margin-bottom: 20px;
    float: none;
  }
  body #tweet-quote {
    padding: 6px 16px;
  }
}
@media (max-width: 500px) {
  body .btn:first-of-type {
    margin-right: 0;
  }
  body .quote-box {
    padding: 0 10px 10px 10px;
  }
  body .quote-area {
    min-height: 300px;
  }
  body #quote {
    padding: 0;
  }
}
.intro-section {
  width: 100%;
  padding: 15px;
  background: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-section .contact {
  width: 90%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input.input {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input .shadow-input {
  border-radius: 25px;
}
textarea.input {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input .shadow-input {
  border-radius: 25px;
}
.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}
.input {
  display: block;
  width: 100%;
  background: white;
  font-size: 15px;
  line-height: 1.5;
  color: grey;
}
.input .shadow-input {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
}
.input .contact-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input .contact-button .contact-form-btn {
  min-width: 193px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.input .contact-button .contact-form-btn i {
  margin-left: 7px;
}
.input .contact-button .contact-form-btn .contact-form-btn:hover i {
  transform: rotate3d(20%);
}
.input .validate-input {
  position: relative;
}
.input .validate-input .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid red;
  border-radius: 13px;
  visibility: hidden;
}
.input .validate-input .alert-validate::after {
  display: block;
  position: absolute;
  color: red;
}
.input .validate-input .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
  background-color: gold;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}
/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  width: 50%;
  justify-content: center;
  align-items: center;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}
