/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: black;
  line-height: 1.5;
}
html,
body {
  font-family: 'Fira Sans', sans-serif;
  color: black;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', sans-serif;
  color: black;
  line-height: 1.5;
}
p {
  color: black;
}
.wrapper {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #fa625f;
}
.wrapper {
  width: 100%;
}
.wrapper .nav-container {
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
  background-color: #4ABDAC;
}
.wrapper .nav-container .nav-title {
  float: left;
  color: black;
}
@media (max-width: 500px) {
  .wrapper .nav-container .nav-title {
    position: top;
  }
}
.wrapper .nav-container .navbar {
  float: right;
}
.wrapper .nav-container .navbar ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}
.wrapper .nav-container .navbar ul li a {
  text-decoration: none;
  color: black;
  text-align: center;
  display: inline;
  padding: 0.5em;
}
.wrapper .footer-section {
  padding: 2em;
  text-align: center;
  background-color: #4ABDAC;
}
.wrapper .footer-section ul.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.wrapper .footer-section .copyright {
  color: black;
  text-align: center;
  padding: 1em;
}
.wrapper .intro-section {
  padding: 110px 0;
  font-size: 14px;
  background: #ECF5B7;
  font-family: sans-serif;
  text-align: center;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.wrapper .intro-section .border {
  border: 6px solid #fa625f;
  -webkit-box-shadow: 4px 4px 0 3px #fa625f;
  -moz-box-shadow: 4px 4px 0 3px #fa625f;
  box-shadow: 4px 4px 0 3px #fa625f;
}
.wrapper .intro-section .border .border-smaller {
  border: 4px solid #fa625f;
  -webkit-box-shadow: 3px 3px 0 2px #fa625f;
  -moz-box-shadow: 3px 3px 0 2px #fa625f;
  box-shadow: 3px 3px 0 2px #fa625f;
}
.wrapper .intro-section kindness-box {
  border-radius: 1px;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 0 20px 30px 20px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
}
.wrapper .intro-section kindness-box #kindness {
  padding: 40px 20px;
  font-size: 28px;
  font-weight: 600;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
.wrapper .intro-section .buttons-area {
  float: left;
}
.wrapper .intro-section .buttons-area .btn {
  float: left;
  background-color: #ECF5B7;
  border-radius: 1px;
  font-size: 20px;
  margin-right: 8px;
}
.wrapper .intro-section .buttons-area .btn .btn:first-of-type {
  margin-right: 24px;
}
.wrapper .intro-section #random-act {
  padding: 12px 24px;
}
@media (max-width: 800px) {
  .wrapper .intro-section {
    position: relative;
    margin-top: 0;
    padding-top: 30px;
    height: 1vh;
  }
  .wrapper .intro-section .kindness-box {
    width: 92%;
  }
  .wrapper .intro-section .kindness-box #kindness {
    padding: 30px 20px 0 20px;
    width: 100%;
  }
  .wrapper .btn {
    vertical-align: middle;
    float: none;
    display: inline-block;
    margin-top: 5em;
  }
  .wrapper .btn .buttons-area {
    margin-bottom: 5em;
    float: none;
  }
}
@media (max-width: 500px) {
  .wrapper .btn:first-of-type {
    margin-right: 0;
  }
  .wrapper .kindness-box {
    padding: 0 10px 10px 10px;
  }
  .wrapper .kindness-area {
    min-height: 300px;
  }
  .wrapper #kindness {
    padding: 0;
  }
  .wrapper #random-act {
    padding: 12px 24px;
  }
}
.wrapper .app-services {
  /* The dots/bullets/indicators */
  /* Fading animation */
}
.wrapper .app-services * {
  box-sizing: border-box;
}
.wrapper .app-services .slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  justify-content: center;
}
.wrapper .app-services .mySlides {
  display: none;
}
.wrapper .app-services .prev,
.wrapper .app-services .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.wrapper .app-services .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.wrapper .app-services .prev:hover,
.wrapper .app-services .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.wrapper .app-services .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.wrapper .app-services .active,
.wrapper .app-services .dot:hover {
  background-color: #717171;
}
.wrapper .app-services .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.wrapper {
  width: 100%;
}
.wrapper .tabs {
  width: 100%;
}
.wrapper .tabs .tabs-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
}
.wrapper .tabs .tabs-item {
  display: none;
  width: 100%;
}
.wrapper .tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  color: black;
}
.wrapper .tabs .tabs-item .tabs-item-description {
  text-align: center;
  color: black;
}
@media (max-width: 500px) {
  .wrapper .tabs .tabs-item .tabs-item-image {
    display: hidden;
  }
}
.wrapper .tabs .tabs-item-selected {
  display: block;
}
.wrapper .tabs .tabs-links {
  margin-top: 20px;
  display: flex;
  background-color: #F7B733;
}
.wrapper .tabs .tabs-link {
  width: 25%;
  padding: 20px 25px;
  font-size: 24px;
  text-align: center;
  background-color: #F7B733;
  border-right: 1px solid white;
  color: black;
  cursor: pointer;
}
.wrapper .tabs .tabs-link:hover {
  background-color: #4ABDAC;
}
.wrapper .tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid white;
  background-color: white;
  color: black;
}
.wrapper .tabs .tabs-link-selected:hover {
  background-color: white;
}
.intro-section {
  width: 100%;
  padding: 15px;
  background: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-section .contact {
  width: 90%;
  background: #DFDCE3;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .intro-section .contact {
    display: contents;
  }
}
input.input {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input .shadow-input {
  border-radius: 25px;
}
textarea.input {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input .shadow-input {
  border-radius: 25px;
}
.wrap-input {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}
.input {
  display: block;
  width: 100%;
  background: #DFDCE3;
  font-size: 15px;
  line-height: 1.5;
  color: black;
}
.input .shadow-input {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
}
.input .contact-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input .contact-button .contact-form-btn {
  min-width: 193px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
.input .contact-button .contact-form-btn i {
  margin-left: 7px;
}
.input .contact-button .contact-form-btn .contact-form-btn:hover i {
  transform: rotate3d(20%);
}
.input .validate-input {
  position: relative;
}
.input .validate-input .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #DFDCE3;
  border: 1px solid red;
  border-radius: 13px;
  visibility: hidden;
}
.input .validate-input .alert-validate::after {
  display: block;
  position: absolute;
  color: red;
}
.input .validate-input .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
.wrapper {
  width: 100%;
}
.wrapper .form-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}
.wrapper .form-container .form-title {
  text-align: center;
  justify-content: center;
}
.wrapper .form-container .form {
  width: 100%;
  textext-align: center;
  /* Clear floats */
}
.wrapper .form-container .form input[type=text],
.wrapper .form-container .form input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.wrapper .form-container .form input[type=text] input[type=text]:focus,
.wrapper .form-container .form input[type=password] input[type=text]:focus,
.wrapper .form-container .form input[type=text] input[type=password]:focus,
.wrapper .form-container .form input[type=password] input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.wrapper .form-container .form button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.8;
}
.wrapper .form-container .form button button:hover {
  opacity: 1;
}
.wrapper .form-container .form .createbtn {
  width: 50%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .wrapper .form-container .form .createbtn {
    width: 100%;
  }
}
.wrapper .form-container .form .clearfix::after {
  content: "";
  clear: both;
  display: table;
}
