.wrapper {

  .intro-section {
    padding: 110px 0;
    text-align: center;
    font-size: 14px;
    background: #ECF5B7;
    font-family: sans-serif;
    text-align: center;
    -moz-transition: all .6s; 
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;

    .border {
      border: 6px solid #9CB418;
      -webkit-box-shadow: 4px 4px 0 3px #7D9014;
      -moz-box-shadow: 4px 4px 0 3px #7D9014;
      box-shadow: 4px 4px 0 3px #7D9014;

      .border-smaller {
        border: 4px solid #9CB418;
        -webkit-box-shadow: 3px 3px 0 2px #7D9014;
        -moz-box-shadow: 3px 3px 0 2px #7D9014;
        box-shadow: 3px 3px 0 2px #7D9014;
      }
    }

    kindness-box {
      border-radius: 1px;
      width: 90%;
      max-width: 800px;
      margin: auto;
      padding: 0 20px 30px 20px;
      display: inline-block;
      background-color: rgba(255,255,255,.7);
    
      #kindness {
        padding: 40px 20px;
        font-size: 28px;
        font-weight: 600;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }

    .buttons-area {
      float: left;

      .btn {
        float: left;
        background-color: #ECF5B7;
        border-radius: 1px;
        font-size: 20px;
        margin-right: 8px;

        .btn:first-of-type {
          margin-right: 24px;
        }
      }
    }
    #random-act {
      padding: 12px 24px;
    }
  }

  @media @tablet {
    .intro-section {
      position: relative;
      margin-top: 0;
      padding-top: 30px;
      height: 1vh;

      .kindness-box {
        width: 92%;

        #kindness {
        padding: 30px 20px 0 20px;
        width: 100%;
        }
      }
    }
    
    .btn {
      vertical-align:middle;
      float: none;
      display: inline-block;
      margin-top: 20px;

      .buttons-area {
        margin-bottom: 20px;
        float: none;
      }
    }
  }

  @media @phone {
    .btn:first-of-type {
    margin-right: 0;
    }
    .kindness-box {
      padding: 0 10px 10px 10px;
    }
    .kindness-area {
      min-height: 300px;
    }
    #kindness {
    padding: 0;
    }
    #random-act {
      padding: 12px 24px;
    }
  }
}
