.wrapper {
    width: 100%;

    .nav-container {
        padding-top: 30px;
        padding-bottom: 20px;
        position: relative;

        .nav-title {
            float: left;
        }

        .navbar {
            float: right;
            ul {
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                list-style-type: none;

                li a {
                    color: black;
                    text-decoration: none;
                    text-align: center;
                    display: inline;
                    padding: .5em;
                }
            }
        }
    }
}