.wrapper {
    width: 100%;

    .nav-container {
        padding-top: 2em;
        padding-bottom: 3em;
        padding-left: 2em;
        padding-right: 2em;
        position: relative;
        background-color: #4ABDAC;

        .nav-title {
            float: left;
            color: black;
            @media @phone {
                position: top;
            }
        }

        .navbar {
            float: right;
            ul {
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                list-style-type: none;

                li a {
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    display: inline;
                    padding: .5em;
                }
            }
        }
    }
}